vendor/mupdf/doc/** export-ignore
vendor/mupdf/thirdparty/curl/** export-ignore
vendor/mupdf/thirdparty/freeglut/** export-ignore
vendor/mupdf/thirdparty/libjpeg/** export-ignore
vendor/mupdf/thirdparty/harfbuzz/** export-ignore
vendor/mupdf/thirdparty/freetype/** export-ignore
vendor/mupdf/thirdparty/lcms2/doc/** export-ignore
vendor/mupdf/thirdparty/lcms2/testbed/** export-ignore
vendor/mupdf/thirdparty/zlib/** export-ignore
vendor/mupdf/thirdparty/openjpeg/** export-ignore
vendor/rapidjson/thirdparty/** export-ignore
vendor/rapidjson/bin/** export-ignore
vendor/rapidjson/doc/** export-ignore
vendor/rapidjson/test/** export-ignore
vendor/rapidjson/example/** export-ignore

